[submodule "3rdParty/GPRT"]
	path = 3rdParty/GPRT
	url = https://github.com/gprt-org/GPRT.git
[submodule "3rdParty/imgui_gradient"]
	path = 3rdParty/imgui_gradient
	url = https://github.com/natevm/imgui_gradient.git
[submodule "3rdParty/argparse"]
	path = 3rdParty/argparse
	url = https://github.com/p-ranav/argparse.git
